body{
    font-family: 'Sans-serif', cursive;
    font-size: 28px;
}

hr{
    width: 50%;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.para {
    font-family: 'Indie Flower', cursive;
    width: 33.3%;
    padding: 1em;
    text-align: center;
    background-color: white;
    /* margin: 1em; */
}

.para:hover {
    background-color: pink;
}

a {
    color: gray;
    text-decoration: none;
}
